<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn">
	<Properties>
		<Property name="fileLogDir">log</Property>
		<Property name="fileLog">fileLog.log</Property>
		<Property name="fileLogRolling">fileLogRolling.log</Property>

		
	</Properties>

	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout  pattern="%d{HH:mm:ss} %-5level %class{36}  %L %M - %msg%xEx%n"/>
		</Console>
		<!--fileName中如果使用相对路径，则是相对于工程路径。这里是 工程路径/log/test1/test1.log -->
		<File name="fileLog" fileName="${fileLogDir}/${fileLog}"
			append="false">
			<PatternLayout pattern="%d{HH:mm:ss} %-5level %class{36}  %L %M - %msg%xEx%n" />
		</File>
		<RollingFile name="fileLogRolling" fileName="${fileLogDir}/${fileLogRolling}"
			append="true" filePattern="${fileLogDir}/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout
				pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n" />
			<SizeBasedTriggeringPolicy size="4 MB" />
		</RollingFile>

		
	</appenders>

	<loggers>
		<Root level="all">
			<AppenderRef ref="Console" />
			<AppenderRef ref="fileLog" />
			<AppenderRef ref="fileLogRolling" />
		</Root>
		
	</loggers>
</configuration>